.navbar {
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: #d6d2c4;
  margin: 0px;
  padding: 0px;
  position: relative;
  box-shadow: 0px 1px 5px #262626;
  }
  .navbar-nav .active {
    color: red;
  }