
.navbar-header {
  float: none;
 
}
.navbar-toggle {
  display: block;
 

}
.nav-item{
  text-align: right;
}
.navbar-collapse.collapse {
  display: none!important;
 
 
}
.navbar-nav {
  float: none!important;

}
.navbar-nav>li {
  float: none;

}
.navbar-collapse.collapse.in{
  display:block !important;
  
}