<nav class="navbar navbar-default" style="overflow: hidden;">
<div class="navbar-header" style="background-color: rgb(235, 235, 235)"> 
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="collapsed = !collapsed">
      <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
    </button>
    <a routerLink="/" class="navbar-brand" style="color: rgb(123, 120, 120)">LAD</a>
  </div>
  <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true" style="background-color:  rgb(235, 235, 235);">
    <ul class="nav navbar-nav">
        
        <li routerLinkActive="active"><a routerLink="/quienes" *ngIf="isAuthenticated" style="color: rgb(123, 120, 120)">Equipo</a></li>
        <li routerLinkActive="active"><a routerLink="/consul"  style="color: rgb(123, 120, 120)">Consultora</a></li>
        <li routerLinkActive="active"><a routerLink="/tecno"  style="color: rgb(123, 120, 120)">Tecnología</a></li>
        <li routerLinkActive="active"><a routerLink="/religiario" *ngIf="isAuthenticated" style="color: rgb(123, 120, 120)">Observatorio</a></li>
        <li routerLinkActive="active"><a routerLink="/lista-recursos" *ngIf="isAuthenticated" style="color: rgb(123, 120, 120)">Recursos</a></li>
        <li routerLinkActive="active"><a routerLink="/auth" *ngIf="!isAuthenticated" style="color: rgb(123, 120, 120)">Usuarios</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
            <a style="cursor: pointer;"  (click)="onLogout()" style="color: rgb(123, 120, 120)">Logout</a>
        </li>
        <li class="nav-link dropdown" appDropdown *ngIf="isAuthenticated">
            <a style="cursor: pointer;" class="dropdown-toggle" role="button" style="color: rgb(123, 120, 120)">Administrar <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" *ngIf="isAuthenticated" (click)="onSaveData()">Guardar Religiario</a></li>
                <li><a style="cursor: pointer;" (click)="onFetchData()">Cargar Religiario</a></li>
            </ul>
        </li>
    </ul>
 </div>


