<div><hr style="border-top: 1px solid #574936; border-style: double;"></div>
<h1 class="block-effect" style="--td: 1.2s">
    <div class="block-reveal" style="--bc: #ff9800; --d: .1s; background-color: #d6d2c4;">Laboratorio de</div>
    <div class="block-reveal" style="--bc: #ffc340; --d: .5s; background-color: #d6d2c4;">Antropología Decolonial</div>
  </h1> 
    <body style="background-image: url(https://images.pexels.com/photos/3804996/pexels-photo-3804996.jpeg?cs=srgb&dl=pexels-kate-trifo-3804996.jpg&fm=jpg);background-size: cover; border-radius: 2%; position:relative; margin: 5%; right: -5%; left: 1%; border-color: #574936; border-width: 6px; border-style:solid; size: 100%;">
<h2 style="color:antiquewhite; text-align: center; text-align-last: center; color: #ff9800;">Nuestro propósito es ser agentes de cambio para un mundo de diversidad cultural</h2>
    </body>
    <body style="background-image: url(https://lh3.googleusercontent.com/drive-viewer/AFGJ81oKaVDNaYjtymgsbUAn3jb175NxkzSdg_BnYFYyV6yYwRv5pdYryXrMt0Dw-a8mfwmNXb4xOd91AISAmQo1juTv8zmQOA=s1600); background-size: cover; border-radius: 2%; position:relative; margin: 5%; right: -5%; left: 1%; border-color: #574936; border-width: 6px; border-style:solid; size: 100% ">
      <h2 style="color: antiquewhite">Acompañamos a nuestros clientes en el diseño, implementación y evaluación de proyectos para fortalecer la gestión de la diversidad</h2>n_E
    </body>
    <body style="background-image: url(https://img.freepik.com/premium-vector/microchip-processor-with-blue-background_136277-841.jpg); background-size: cover; border-radius: 2%; position:relative; margin: 5%; right: -5%; left: 1%; border-color: #574936; border-width: 6px; border-style:solid;  size: 100%">
      <h2 style="color: antiquewhite; font-weight: 300;">Tecnología y Etnografía al servicio de su organización</h2>
    </body>



