
<h1 class="block-effect" style="--td: 1.2s">
    <div class="block-reveal" style="--bc: #ff9800; --d: .1s">Laboratorio de</div>
    <div class="block-reveal" style="--bc: #ffc340; --d: .5s">Antropología Decolonial</div>
  </h1>
  
    <body style="background-image: url(https://images.pexels.com/photos/3804996/pexels-photo-3804996.jpeg?cs=srgb&dl=pexels-kate-trifo-3804996.jpg&fm=jpg); background-size: cover; max-height: 400px;">
<h2 style="color:antiquewhite">Nuestro propósito es ser agentes de cambio para un mundo de diversidad cultural</h2>
    </body>
    <body style="background-image: url(https://img.freepik.com/free-photo/orange-wall-paint-textured-background_53876-134183.jpg);">
      <h2 style="color:antiquewhite">Acompañamos a nuestros clientes en el diseño, implementación y evaluación de proyectos para fortalecer la gestión de la diversidad</h2>
    </body>
    <body style="background-image: url(https://img.freepik.com/premium-vector/microchip-processor-with-blue-background_136277-841.jpg);">
      <h2 style="color:antiquewhite">Tecnología y Etnografía al servicio de su organización</h2>
    </body>





