<a 
style="cursor: pointer; background-color: #d6d2c4; border-color: #574936 ;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix" >
<div class="pull-left" style="background-color: #d6d2c4">
    <h4 class="list-group.item-heading">{{ recipe.name }}</h4>
    </div>
    <span class="pull-right">
        <img 
        [src]="recipe.imagePath"
         alt="{{recipe.name}}" 
         class="img-responsive" 
         style="max-height: 80px; max-width: 80px; background-color: #d6d2c4">
    </span>
</a>