<h1 class="block-effect" style="--td: 1.8s">
    <div class="block-reveal" style="--bc: #ff9800; --d: .1s; background-color: #f6b555;">Acompañamos a nuestros clientes en el diseño, implementación y evaluación de proyectos para fortalecer la gestion de la diversidad</div>
    <h5>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; text-align: justify; margin: 1%">Los antropólogos son expertos en comprender el entramado de la cultura. No se limitan a estudiar y documentar la cultura. Entienden cómo funciona la cultura, ya sea la propia o la de otros. Los antropólogos reciben formación para eliminar sus propios prejuicios con el fin de convertirse en una tabula rasa, la capacidad de ver, oír y comprender sin la influencia de los propios supuestos.
            Los consultores antropológicos se han utilizado durante años en empresas como Zappos y General Motors con el fin de apoyar las ventas en diferentes mercados (léase: diferentes culturas) de todo el mundo.
            Los antropólogos están formados para entender la cultura. 
            
        </h5>
    <div class="block-reveal" style="--bc: #666f88; --d: .5s; background-color: #cacaca;">Nuestro proposito es ser agentes de cambio para un mundo de diversidad cultural</div>
    <h5>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; text-align: justify; margin: 1%;">
            Pero creer que los antropólogos sólo serían útiles para vender en otros mercados sería desaprovechar su verdadero potencial en un mundo COVID-19.
            Muchos empresarios y propietarios de empresas entran en pánico porque de repente carecen del contacto diario en persona con sus empleados que les ponía en el asiento del conductor para reforzar la cultura de la empresa. Se sienten fuera de control de la cultura de su empresa. Aquí es donde podría brillar un consultor antropológico.
        </p>
        </h5>

        <h1 class="block-effect" style="--td: 1.8s">
            <div class="block-reveal" style="--bc: #ff9800; --d: .1s; background-color: #f6b555;">Desde el 2016 brindamos asesoramiento personalizado e integral en temas de diversidad a empresas, organizaciones de la sociedad civil y gobiernos</div>

<h5>
<p style="font-family:Verdana, Geneva, Tahoma, sans-serif; text-align: justify; margin: 1%">
    
    Los antropólogos están formados para entender la cultura. Un consultor antropológico puede entrar en una empresa, estudiar sus mensajes, sus empleados, sus métodos de comunicación, el tejido mismo de esa cultura, y comprenderla inmediatamente. Un consultor antropológico puede entonces formalizarla y traducirla, incluso cuando muchas de las tradiciones de la empresa se construyeron en persona y su personal trabaja ahora principalmente desde casa.
</p>
</h5>
